DATABASE_URL=
GAT_INTEGRATION=
PAYLOAD_API_KEY=
PAYLOAD_COORDINATION_LOCAL=
PAYLOAD_COORDINATION_URL=
PAYLOAD_NOTATION_STATE_DIR=
PAYLOAD_PRODUCTION_DIR=
PAYLOAD_PRODUCTION_LOCAL=
PAYLOAD_SAMSARA_COLLECTION=
PAYLOAD_SAMSARA_TOKEN=
PAYLOAD_SOURCE_COLLECTION=
PAYLOAD_SOURCE_QUALIFICATION_DIR=
PAYLOAD_STATE_KERNEL_LOCAL=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_PORT=
SQL_USER=